{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-4">
    <h4 class="display-4">Sign In</h4>
    <form action="{% url 'login' %}" method="POST" novalidate>{% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign In</button>
            <a href="#" class="btn btn-link">Forgot your password?</a>
        </div>
        <div class="text-muted">
            Need an account?
            <a href="{% url 'register' %}">Sign Up Now</a>
        </div>
    </form>
</div>
{% endblock content %}